/* your CSS goes here */
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3.5rem;

    
}

h2{
    font-size: 2rem;
}

.material-icons {
    position: relative;
    top: 5px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #2c96bf;
    padding: .5rem .5rem 1rem;

}

nav li {
    display: inline;
    margin: 0 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a{
    color: black;
    text-decoration: none;
    transition: color .25s ease-out, border-color .25s ease-out;

}

nav a:hover, nav a:focus, nav a:active {
    color: #f0f0f0;
    border-bottom: .8rem solid #f0f0f0;
}


header{
    color: white;
    background-image:url("../img/paul-gilmore-145802-unsplash.jpg");
    padding: 6rem  1rem;
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

header.motto {
    font-size: 1.25rem;
    font-style: italic;
}


#menu {
    background-color: #f0f0f0;
}

#menu dt{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

#menu dd {
    margin: 0;
}

#menu img {
    height: 200px;
    border-radius: 15px;
}
  
#about{
    background-color: #e0e0e0;
    line-height: 1.5;
}

#about.container {
    line-height: 1.5;
}
  
footer {
    background-color: #3e1305;
    color: white;
    
}

footer.container {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
    line-height: 1.25;

}

footer p:last-of-type {
    padding-top: 8px;
}


