svg > circle:nth-of-type(-n + 2) {
    fill: #5f5f5f;
}

svg > path:nth-of-type(-n + 2){
    stroke: #5f5f5f;
    stroke-width: 8px;
    fill: none;
}

circle.small {
    fill: #ffffff;
}

g.contained.small {
    fill: #573d29;
}

g.contained:nth-of-type(2) > * {
    fill: #c0c0c0;
    stroke: none;
}

#interactive {
    fill: #c0c0c0;
    stroke: #bd250d;
    stroke-width: 4px;
}

#interactive:hover {
    fill: #bd250d;
}

svg > rect {
    opacity: 0;
}

svg > rect:first-of-type{
    opacity: 1;
}

g.contained:nth-of-type(2) > rect {
    opacity: 1;
}

svg > path:last-of_type {
    stroke: none;
}
