* {
  box-sizing: border-box;
}


body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  height: inherit;
}

main {
  flex: 1;

}

.col-1{
  flex: 0 1 240px;

}

.col {
  padding: 1em;
}

.col-2 {
  flex: 1 1 0;
  background-color: #eee;

}


.col-3{
  flex-basis: 180px;
  flex-grow: 0;
  flex-shrink: 0;

}
.columns {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 250px;
  background: #fff;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow : 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  overflow: hidden;
}

.card img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card p {
  margin: 0;
  padding: 0.5rem 1rem;
}
